{% extends 'base.html' %}

{% block content %}
	<!-- Page top section start -->
   {%  load static %}

    <!-- ***** Doctors Area Start ***** -->
    <section class="medica-doctors-area section_padding_100_20">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section_heading">
                      <img src="{% static "img/icons/doctor.png" %}" alt="">
                      <h2>Our Doctors</h2>
                      <p>Phasellus at nunc orcidonec ipsum metus, pharetra quis nunc sit amet</p>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-doctor-area">
                      <div class="doctor-thumbnail">
                       
                      </div>
                      <div class="doctor-meta">
                          <h5>Dr. Melissa Smith</h5>
                          <h6>Cardiologist</h6>
                          <div class="doctor-social-info">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-doctor-area">
                      <div class="doctor-thumbnail">
                         
                      </div>
                      <div class="doctor-meta">
                          <h5>Dr. Josh Henderson</h5>
                          <h6>Plastic Surgeon</h6>
                          <div class="doctor-social-info">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-doctor-area">
                      <div class="doctor-thumbnail">
                        
                      </div>
                      <div class="doctor-meta">
                          <h5>Dr. Christinne Jones</h5>
                          <h6>Pediatrist</h6>
                          <div class="doctor-social-info">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 col-sm-6 col-lg-3">
                  <div class="single-doctor-area">
                      <div class="doctor-thumbnail">
                         
                      </div>
                      <div class="doctor-meta">
                          <h5>Dr. William Stan</h5>
                          <h6>General Practicioner</h6>
                          <div class="doctor-social-info">
                              <a href="#"><i class="fa fa-twitter"></i></a>
                              <a href="#"><i class="fa fa-facebook"></i></a>
                              <a href="#"><i class="fa fa-linkedin"></i></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Doctors Area End ***** -->

    

    {% endblock  %}